* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

.main-container-navbar{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
  /* padding: 20px 0; */
    height: 60px;
    align-items: center;

}

.logo a{
    text-decoration: none;
    color: brown;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  justify-content: space-between;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover{
    color: brown;
}

/* burger */
nav .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

nav .menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  cursor: pointer;
  opacity: 0;
  z-index: 999;
}
nav .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: brown;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* berger menu animation */


/* baris berger pertama */
.menu-toggle span:nth-child(2){
    /* background-color: black; */
    transform-origin: 0 0;

}

.menu-toggle input:checked ~ span:nth-child(2) {
    /* background-color: red; */
    transform: rotate(45deg) translate(-1px, -1px);
}


/* baris berger kedua */
.menu-toggle input:checked ~ span:nth-child(3) {
    /* background-color: orange */
    transform: scale(0);
    opacity:0;
}

/* baris berger terakhir */
.menu-toggle span:nth-child(4){
    /* background-color: black; */
    transform-origin: 0 100%;

}

.menu-toggle input:checked ~ span:nth-child(4) {
    /* background-color: orange */
    transform: rotate(-45deg) translate(-1px, 0);
}



/* ukuran tablet */
@media screen and (max-width:768px){
    nav ul {
        width: 50%;
    }
    
    
}

/* ukuran mobile */
@media screen and (max-width: 576px){
    nav ul {
        display: none;
    }
    nav .menu-toggle {
    display: flex;
}

    

}
